version: "3"
services:
  shield:
    image: abhinavsinha001/shield:v4
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 500M
        reservations:
          cpus: '0.25'
          memory: 200M
    environment:
    - GOMAXPROCS=1
    - LOGLEVEL=info
    ports:
      - "8080:8080"
    sysctls:
      - net.ipv4.ip_local_port_range=15000 65000
  demo-app:
    image: abhinavsinha001/demo-app:v1
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 500M
        reservations:
          cpus: '0.25'
          memory: 200M
    environment:
    - GOMAXPROCS=4
    ports:
      - "8192:8192"
  stats:
    image: hopsoft/graphite-statsd
    ports:
      - "82:80"
      - "81:81"
      - "2003-2004:2003-2004"
      - "2023-2024:2023-2024"
      - "8125:8125/udp"
      - "8126:8126"
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - /tmp/prometheus.yml:/etc/prometheus/prometheus.yml
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1000M
          
